export ANDROID_HOME={{android_base_dir}}
export ANDROID_SDK_ROOT={{android_base_dir}}
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/platform-tools
export PATH=$PATH:$ANDROID_HOME/build-tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
